absl-py
attrs
cffi
contourpy
cycler
# evdev
flatbuffers
fonttools
jax
jaxlib
kiwisolver
matplotlib
mediapipe
ml-dtypes
MouseInfo
numpy
opencv-contrib-python
opencv-python
opt-einsum
packaging
pillow
protobuf
PyAutoGUI
pycparser
PyGetWindow
PyMsgBox
pynput
pyparsing
pyperclip
PyRect
PyScreeze
python-dateutil
python-xlib
python3-xlib
pytweening
scipy
six
sounddevice
